#include "menu.h"


MYMENU MENU
{
	POPUP "&Connection"
{
	MENUITEM "&Start",                    IDM_Start
	MENUITEM "&Stop",                     IDM_Stop
	MENUITEM "&Clear",                    IDM_Clear

}

MENUITEM "&Help",                         IDM_HELP
MENUITEM "&Exit"						  IDM_Exit
}
